/*******************TAG SELECTORS***********************/
body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Calligraffitti', cursive, sans-serif;
  line-height: 2;
  color: #38A3A5;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #38A3A5;
}

h3, a {
  color: #152D35;
}

p {
  font-size: 1.2rem;
  color: #345B63
}

/******************** CLASS SELECTORS*******************/
.top-container {
  background-color: #93B5C6;
  position: relative;
  padding-top: 100px;
  height: 100vh;
}

/** .middle-container {
}

.bottom-container {
}
**/
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 18%;
}

.top-cloud {
  position: absolute;
  right: 18%;
  top: 9%;
}

.pc {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bua {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/****************************CLASS SELECTORS******************************/
