/*******************TAG SELECTORS***********************/
body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Calligraffitti', cursive, sans-serif;
  line-height: 2;
}

h2 {
 font-family: 'Raleway', sans-serif;
 font-size: 2.5rem;
 font-weight: normal;
}
h1,h2{
  color: #66BFBF;
}
h3, a {
  color: #11999E;
}


/******************** CLASS SELECTORS*******************/
.top-container {
  background-color: #D4ECDD;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 18%;
}

.top-cloud {
  position: absolute;
  right: 18%;
  top: 9%;
}
